a.category-list {
    text-decoration: none;
}

.category-list .caption {
    height: auto;
    text-align: center;
    background-color: #DADADA;
}


/*.dash-category {
    padding: 10px 15px;
}*/

.header-bg {
    min-height: 400px;
    background-size: cover;
    background-repeat: none;
    position: relative;
    top: -19px;
}

.header-bg .logo {
    color: white;
    margin: 0px;
}

.header-bg .navbar-default,
.header-bg .navbar-default .navbar-toggle,
.header-bg .navbar-default .navbar-collapse {
    background-color: transparent;
    border-color: transparent;
}

.header-bg .navbar-default .navbar-header .navbar-brand {
    color: white;
    font-style: italic;
}

.header-bg .nav>li>a,
.header-bg .nav>li>a:hover {
    color: white;
    font-weight: normal;
    background-color: transparent;
}

.header-bg .shader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    top: 0px;
    left: 0px;
}

.header-bg>.search {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 100px 15px 10px 15px;
    position: relative;
    bottom: -200px;
}

@media (min-width: 1200px) {
    .header-bg>.search {
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-bg>.search {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-bg>.search {
        width: 100%;
        padding-top: 70px
    }
}

@media (max-width: 767px) {
    .header-bg>.search {
        width: 100%;
        padding-top: 70px
    }
}

.header-bg>.search .search-input {
    position: relative;
}

.header-bg>.search .search-input input.form-control {
    padding-left: 30px;
}

.header-bg>.search .search-input>span.fa {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-bg>.search .search-input>span.fa.button {
    position: absolute;
    top: 10px;
    right: 10px;
}


/*amith css changes..... kempa should review and update*/

@media(min-width:768px) {
    #wrapper {
        padding-left: none !important;
    }
}


/*

.contact-wrapper {}

.contact-wrapper input,
.contact-wrapper textarea {
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
}

.contact-wrapper .header-bg .shader {
    background-color: rgba(1, 1, 1, 0.7);
}

.contact-wrapper .header-bg .contact-caption {
    color: white;
    position: absolute;
    width: 100%;
    top: 100px;
}

*/