a.category-list {
    text-decoration: none;
}

.category-list .caption {
    height: auto;
    text-align: center;
    background-color: #DADADA;
}

.dash-category {
    padding: 10px 15px;
}

.header-bg {
    min-height: 400px;
    background-size: cover;
    background-repeat: none;
    position: relative;
}

.header-bg .logo {
    color: white;
    margin: 0px;
}

.header-bg .navbar-default,
.header-bg .navbar-default .navbar-toggle,
.header-bg .navbar-default .navbar-collapse {
    background-color: transparent;
    border-color: transparent;
}

.header-bg .navbar-default .navbar-header .navbar-brand {
    color: white;
    font-style: italic;
}

.header-bg .nav>li>a,
.header-bg .nav>li>a:hover {
    color: white;
    font-weight: normal;
    background-color: transparent;
}

.header-bg .shader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    top: 0px;
    left: 0px;
}

.header-bg>.search {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 100px 15px 10px 15px;
    position: relative;
    bottom: -150px;
}

@media (min-width: 1200px) {
    .header-bg>.search {
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-bg>.search {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-bg>.search {
        width: 100%;
        padding-top: 70px
    }
}

@media (max-width: 767px) {
    .header-bg>.search {
        width: 100%;
        padding-top: 70px
    }
}

.header-bg>.search .search-input {
    position: relative;
}

.header-bg>.search .search-input input.form-control {
    padding-left: 30px;
}

.header-bg>.search .search-input>span.fa {
    position: absolute;
    top: 10px;
    left: 10px;
}