<section class="header-bg" [ngStyle]="{ 'background-image': 'url(../../assets/images/slide/2.jpg)'}">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h1 class="logo">PUBLISH ADDS</h1>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <ul class="nav nav-pills pull-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="search">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="search-input">
                    <input type="text" name="search" placeholder="Search" class="form-control" />
                    <span class="fa fa-search"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="dash-category">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" *ngFor="let card of cardData">
            <a routerLink="{{card.routeLink}}" class="category-list">
                <div class="thumbnail">
                    <img src="{{card.imageUrl}}" alt="" class="img-resposive">
                    <div class="caption">
                        <h4>{{card.cardName}}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>