<section class="header-bg" [ngStyle]="{ 'background-image': 'url(../../assets/images/slide/2.jpg)'}">
    <div class="shader"></div>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PUBLISH ADD</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Whyus</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login / Signup</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="search">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="search-input">
                    <input type="text" name="search-city" placeholder="Location in Banglore" class="form-control" />
                    <span class="fa fa-map-marker"></span>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="search-input">
                    <input type="text" name="search" placeholder="Business, Movies, Events, ..." class="form-control" />
                    <span class="fa fa-search"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="dash-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" *ngFor="let card of cardData">
                <a routerLink="{{card.routeLink}}" class="category-list">
                    <div class="thumbnail">
                        <img src="{{card.imageUrl}}" alt="" class="img-resposive">
                        <div class="caption">
                            <h4>{{card.cardName}}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>