<section class="header-bg" [ngStyle]="{ 'background-image': 'url(../../assets/images/slide/computer-1149148_960_720.jpg)'}">
    <div class="shader"></div>
    <div class="search">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="search-input">
                    <input type="text" name="search-city" placeholder="Location in Tumakuru" class="form-control" />
                    <span class="fa fa-map-marker"></span>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="search-input">
                    <input type="text" name="search" placeholder="Business, Movies, Events, ..." class="form-control" />
                    <span class="fa fa-search"></span>
                    <span class="fa fa-search button"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="dash-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" *ngFor="let card of cardData">
                <a routerLink="{{card.routeLink}}" class="category-list">
                    <div class="thumbnail">
                        <img src="{{card.imageUrl}}" alt="" class="img-resposive" style="height: 200px;">
                        <div class="caption">
                            <h4>{{card.cardName}}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--
<div class="contact-wrapper">
    <section class="header-bg" [ngStyle]="{ 'background-image': 'url(../../assets/images/tumkurmap.png)'}">
        <div class="shader"></div>
        <div class="contact-caption">
            <h1 class="text-center">Let’s make something awesome together.</h1>
            <p class="text-center">Drop us a line, or give us a heads up if you’re interested in visiting us.</p>
        </div>
    </section>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h4 class="text-center">Get in touch</h4>
            <p class="text-center">Let’s talk about your project</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <input class="form-control" type="text" name="" placeholder="Name" />
        </div>
        <div class="col-lg-4 col-md-4">
            <input class="form-control" type="number" name="" placeholder="Your phone number" />
        </div>
        <div class="col-lg-4 col-md-4">
            <input class="form-control" type="email" name="" placeholder="Email Id" />
        </div>
        <div class="col-lg-12 col-md-12">
            <textarea class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="col-lg-12 col-md-12 text-right">
            <button type="button" class="btn btn-warning">Submit</button>
        </div>
    </div>
</div>
-->