 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        JustAdds
                    </a>
                </li>
                <li>
                    <a routerLink="/list/hotel">Hotel</a>
                </li>
                <li>
                    <a routerLink="/list/cinima">Cinima</a>
                </li>
                <li>
                    <a routerLink="/list/flower">flower shops</a>
                </li>
                <li>
                    <a routerLink="/list/doctor">doctors</a>
                </li>
                <li>
                    <a routerLink="/list/pharma">pharma</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->