/*
$largeScreen: 1200px;
$mediumScreen: 992px;
$smallScreen: 768px;
$extraSmallScreen: 767px;
*/

.product-detail .caption .price {
    float: right !important;
}

.item-list {
    text-decoration: none;
}

.thumbnail>img {
    height: 200px;
}

@media only screen and (max-width: 767px) {
    .product-detail .caption .price {
        float: left !important;
        margin-top: 0px;
    }
}