<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let list of typeList">
            <a routerLink="/details/{{list.Id}}" class="item-list">
                <div class="thumbnail">
                    <img src="../../assets/images/IMG-20170201-WA0030.jpg" alt="" class="img-resposive">
                    <div class="caption">
                        <h4 class="pull-right">$24.99</h4>
                        <h4>{{list.name}}
                        </h4>
                        <p>{{list.description}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{list.reviewCount}}</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>