                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let list of typeList">
                       <a routerLink="/details"> 
                       <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4>{{list.name}}
                                </h4>
                                <p>{{list.description}}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{list.reviewCount}}</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>