<div class="wrapper">
    <div class="docbar">
        <div class="container">
            <i class="fa fa-bars sideClick" *ngIf="this.router.url!='/' && isMobile" (click)="openNav()"></i>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">PublishAdd</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Whyus</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="javascript:void(0)" (click)="signin('login')">Login</a></li>
                    <li><a href="javascript:void(0)" (click)="signin('signup')">Register</a></li>
                </ul>
            </div>
            <!--<h3 style="margin: 0px;line-height: 50px;float: left"><a href="#" style="color: white; text-decoration: none;">PublishAdd</a></h3>
            <ul class="docmenu">
                <li><a href="#">Whyus</a></li>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="javascript:void(0)" (click)="signin()">Login</a></li>
                <li><a href="#">Signup</a></li>
            </ul>-->
        </div>
    </div>
    <div id="page-content-wrapper" [ngClass]="this.router.url=='/'? 'dashboard-wrapper' : 'detail-wrapper'">
        <div class="row">
            <div [ngClass]="this.router.url!='/'? 'col-lg-2 col-md-2 hidden-sm hidden-xs remove-padding' : 'hidden'">
                <app-navbar></app-navbar>
            </div>
            <div [ngClass]="this.router.url!='/'? 'col-lg-10 col-md-10 col-sm-12 col-xs-12 bg-white' : 'col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding bg-white'">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright © 2017 VRAIO Software Sollutions Pvt Ltd.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center text-uppercase" id="myModalLabel">PublishAdd</h3>
                </div>
                <div class="modal-body">
                    <hr/>
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 signinModal-container">
                            <ul class="nav nav-tabs signn-tab" role="tablist">
                                <li><a data-toggle="tab" class="text-muted" href="#register">Register</a></li>
                                <li><a data-toggle="tab" class="text-muted" href="#login">Login</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="register">
                                    <form role="form" action="" method="POST" name="form1">
                                        <div class="form-group">
                                            <label class="label" for="email">Name:</label>
                                            <input type="text" class="form-control" placeholder="Enter Your Full Name" name="name" autofocus="" autocomplete="off" />
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="form-group">
                                            <label class="label" for="pwd">Email:</label>
                                            <input type="email" class="form-control" placeholder="Enter Your Email" name="email" id="email" onblur="checkAvailability1()" autocomplete="off" />
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="form-group">
                                            <label class="label textfieldMinCharsMsg textfieldMaxCharsMsg" for="phone">Mobile Number:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1"><strong class="small" style="color:#34495E;">+91</strong></span>
                                                <input type="number" class="form-control" placeholder="Mobile Number" name="mobile" aria-describedby="basic-addon1" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="label textfieldMinCharsMsg textfieldMaxCharsMsg" for="pwd">Password:</label>
                                                    <input type="password" id="password1" class="form-control" placeholder="Enter Your Password" name="password" autocomplete="off">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="label textfieldMinCharsMsg textfieldMaxCharsMsg" for="pwd">Confirm Password:</label>
                                                    <input type="password" id="password2" class="form-control" placeholder="Confirm Password" name="c_password" autocomplete="off" />
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg full-width" id="signupsubmit" name="submit" onmouseover="checkAvailability1()" style="min-height:45px;max-height:45px;width: 100%">Submit</button>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="login">
                                    <form role="form" action="" method="POST">
                                        <div class="form-group">
                                            <label for="login-email" class="label">Email / Phone: </label>
                                            <input type="email" class="form-control form-signin" placeholder="Enter Email / Phone" name="login-email" id="login-email" value="" required="" autofocus="">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd" class="label">Password:</label>
                                            <input type="password" class="form-control" placeholder="Enter Password" id="login-pass" name="password" value="" />
                                            <i class="fa fa-key"></i>
                                        </div>
                                        <button type="button" class="btn full-width btn-lg btn-success" id="login-submit" name="login" onclick="check_u_and_p()" style="width: 100%"><span id="login-text">Login</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<app-navbar *ngIf="isMobile"></app-navbar>