<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                        JustAdds
                    </a>
        </li>
        <li>
            <a routerLink="/list/hotel"><i class="fa fa-h-square"></i>Hotel</a>
        </li>
        <li>
            <a routerLink="/list/cinima"><i class="fa fa-film"></i>Cinima</a>
        </li>
        <li>
            <a routerLink="/list/flower"><i class="fa fa-gift"></i>flower shops</a>
        </li>
        <li>
            <a routerLink="/list/doctor"><i class="fa fa-user-md"></i>doctors</a>
        </li>
        <li>
            <a routerLink="/list/pharma"><i class="fa fa-plus-square"></i>pharma</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->