<div class="col-md-9 detailpage">
    <div class="thumbnail">
        <!--{{Id | json}}-->
        <img class="img-responsive" src="../../assets/images/IMG-20170201-WA0021.jpg" height="40%" alt="">
        <div class="caption-full">
            <!--<h4 class="pull-right detail-price">$24.99</h4>-->
            <h4 class="detail-name"><a href="#">{{Id.name}}</a></h4>

            <label>Description:</label>
            <p>{{Id.description}}</p>

            <label>Address:</label>
            <p>{{Id.address}}</p>


            <label>Rating Count:</label>
            <p>{{Id.ratingCount}}</p>


            <label>No. of Reviews:</label>
            <p>{{Id.reviewCount}}</p>


            <label>category:</label>
            <p>{{Id.category}}</p>

             <label>Landmark:</label>
            <p>{{Id.category}}</p>

             <label>Website:</label>
            <p>{{Id.category}}</p>

             <label>Contact:</label>
            <p>{{Id.category}}</p>

             <label>Email:</label>
            <p>{{Id.category}}</p>
        </div>




        <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span> 4.0 stars
            </p>
        </div>
    </div>
    <google-map></google-map>


    <div class="well">

        <!--<div class="text-right">
            <a class="btn btn-success">Leave a Review</a>
        </div>-->

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span> Anonymous
                <span class="pull-right">10 days ago</span>
                <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
        </div>

        <hr>



        <hr>



    </div>

</div>