.detailpage a {
    text-decoration: none;
}

.detailpage p {
    text-align: justify;
}

.detailpage>.thumbnail>img {
    height: 300px;
    width: 100%;
}

 .sebm-google-map-container {
       height: 300px;
}